dist/
build/
__pycache__/
*.egg-info/
*/__pycache__
*/*/__pycache__
oldtabaccounts.py
gui/database/
gui/resources/account-icons
cositaskhacer.txt
truquillos.txt
links.txt
*.spec
*.db
*.pyc
*.ts
*.json



